@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');

.wrapper{
    font-family: 'Inter', sans-serif;
    margin: auto;
    header{
        overflow: hidden;
        padding: 40px 64px 0 64px;
        position: relative;
        background-color: #141414;
        height: 957px;
        .background{
            .obj-1{
                position: absolute;
                left: 0;
                top: 0;
            }
            .obj-2{
                position: absolute;
                top: 0;
                right: 0;
            }
            .obj-3{
                position: absolute;
                top: 250px;
                right: 0;
            }
        }
        .line{
            margin-bottom: 30px;
            height: 1px;
            background-color: #fff;
            z-index: 1;
        }
        .line-2{
            z-index: 1;
            margin-top: 30px;
            height: 1px;
            background-color: #fff;
        }
        .navbar{
            z-index: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            .logo{
                z-index: 1;
            }
            a{
                text-decoration: none;
            }
            .phone{
                z-index: 1;
                display: flex;
                margin: 5px 100px 0 0;
            }
            .project{
                margin: 5px 0 0 100px;
                z-index: 1;
            }
            .menu{
                cursor: pointer;
                z-index: 1;                
            }
            .nav-links{
                z-index: 1;
                ul{
                    margin: 5px;
                    display: flex;
                    li{
                        margin: 0 30px;
                    }
                }
            }
            a{
                color: #fff;
            }
        }
        .header-row{
            display: flex;
            justify-content: space-between;
            .header-left{
                position: relative;
                width: 800px;
                flex-grow: 1;
                min-width: unset;
                    .titel{
                        color: #fff;
                        font-size: 60px;
                        font-weight: 700;
                        padding: 150px 0 0 115px;
                        line-height: 80.6px;
                        span{
                            color: #1346FB;
                        }
                    }
                    .subtitel{
                        color: #9898A3;
                        font-size: 20px;
                        line-height: 36px;
                        padding: 41px 0 200px 115px
                    }
                    .more{
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                        text-decoration: none;
                        padding: 0 0 0 113px;
                        display: inline-block;
                    }
                    .year{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        margin: -14px 0 0 720px;
                    } 
            }
            .header-right{
                position: relative;
                flex-grow: 1;
                .main-img{
                    position: absolute;
                    top: -100px;
                    right: -60px;
                    min-width: unset;
                    width: 1230px;
                    height: 1076px;
                }
                .object{
                    position: absolute;
                    top: 80px;
                    right: 600px;
                }
                .showreel{
                    position: absolute;
                    top: 540px;
                    right: 390px;
                    min-width: unset;
                    display: flex;
                    p{
                        color: #fff;
                        font-size: 24px;
                        font-weight: 500;
                    }
                    .btn{
                        background-color: #1346FB;
                        border-radius: 50%;
                        width: 48px;
                        height: 48px;
                        cursor: pointer;
                        position: absolute;
                        top: -10px;
                        left: 230px;
                        svg{
                            padding: 2px 0 0 5px;
                        }
                    }
                }
                .social-right, .social-left{
                    
                    a{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 30.4px;
                        text-decoration: none;
                    }
                }
                .social-left{
                    position: absolute;
                    top: 620px;
                    right: 330px;
                }
                .social-right{
                    position: absolute;
                    right: 430px;
                    top: 620px;
                }
            }
        }

     }
     .portfolio{
        overflow: hidden;
        padding: 60px 80px 0 64px;
        position: relative;
        margin-bottom: 80px;
        img{
            max-width: 100%;
        }
        .line{
            height: 1px;
            background-color: #000;
            margin-bottom: 54px;
        }
        .info{
            position: relative;
            display: flex;
            .titel-2{
                padding-left: 290px;
                font-size: 110px;
                font-weight: 900;
            }
            img{
                padding-left: 290px;
                padding-top: 130px;
            }
            p{
                position: absolute;
                font-size: 24px;

            }
            .text{
                left: 60px;
            }
            .titel{
                right: 0;
            }
        }
        .main-section{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-wrap: wrap;
            min-height: 100vh;
            .titel-3{
                padding: 25px 0 15px 0;
                font-size: 32px;
                line-height: 41.6px;
                width: 610px;
            }
            .subtitel-2{
                display: flex;
                font-size: 21px;
                color: #9FA3AB;
                padding-bottom: 80px;
                img{
                    padding: 0 20px 0 10px;
                }
            }
            .section-left{
                padding: 81px 0 80px 0;
                margin-bottom: 80px;
            }
            .section-right{
                position: relative;
                padding-left: 40px;
                margin-top: -150px;
                width: 608px;

                .titel-2{
                    position: absolute;
                    top: -200px;
                    left: 120px;
                    font-size: 20px;
                    line-height: 32px;
                    width: 500px;
                    font-weight: 400;
                }
            }
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                border-radius: 50%;
                background-color: #141414;
                width: 176px;
                height: 176px;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 500;
                    
                }
            }

        }
     }
     .about{
        padding: 60px 80px 0 64px;
        position: relative;
        margin-bottom: 80px;
        .line{
            height: 1px;
            background-color: #000;
            margin-bottom: 54px;
        }
        .info{
            position: relative;
            display: flex;
            p{
                position: absolute;
                font-size: 24px;
            }
            .text{
                left: 60px;
            }
            .titel{
                right: 0;
                
            }
        }
        .container-1{
            padding: 9px 0 80px 281px;
            max-width: 916px;
            p{
                font-size: 52px;
                line-height: 67.6px;
            }
            .titel-2{
                padding: 0 0 100px 0;
            }
            .titel-3{
                padding: 0 0 58px 0;
            }
            a{
                font-size: 32px;
                font-weight: 500;
                color: #1366FB;
                text-decoration: none;
                img{
                    margin: 0 15px 0 0px;
                }
            }
        }
        .container-2{
            justify-content: center;
            padding-right: 200px;
            .row{
                display: flex;
                flex-wrap: wrap;
                padding: 0 0 0 250px;
                ul{
                    li{
                        display: flex;
                        .number{
                            font-size: 80px;
                            font-weight: 700;
                        }
                        .subtitel{
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 27px;
                            width: 115px;
                            margin: 15px 111px 0 24px;
                        }
                    }
                }
            }
            }
     }
     .direction{
        padding: 60px 80px 0 64px;
        position: relative;
        margin-bottom: 80px;
        .line{
            height: 1px;
            background-color: #000;
            margin-bottom: 54px;
        }
        .info{
            position: relative;
            display: flex;
            p{
                position: absolute;
                font-size: 24px;
            }
            .text{
                left: 60px;
            }
            .titel{
                right: 0;
                
            }
        }
        .container-1{
            padding: 9px 0 80px 281px;
            p{
                font-size: 62px;
                font-weight: 500;
                padding: 0 0 20px 0;
            }
            img{
                margin: 0 0 0 20px;
            }
        }
    }
    footer{
        position: relative;
        background-color: #141414;
        .container{
            
            padding: 91px 362px 80px 362px;
            .row{
                display: flex;
                flex-wrap: wrap;
                .footer-col{
                    .titel{
                        font-size: 52px;
                        font-weight: 500;
                        color: #fff;
                    }
                    .titel-2{
                        font-weight: 200;
                        font-size: 52px;
                        color: #9d9d9d;
                        padding-bottom: 120px;
                        position: relative;
                    }
                    .titel-2:before{
                        p{
                        content: '';
                        position: absolute;
                        background-color: #fff;
                        color: #1346FB;
                        box-sizing: border-box;
                        width: 100px;
                        height: 1;
                        }
                    }
                    .subtitel{
                        max-width: 350px;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22.4px;
                        padding-bottom: 28px;
                        color: #9d9d9d;
                        span{
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    .subtitel-2{
                        max-width: 520px;
                        color: #9d9d9d;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22.4px;
                        a{
                            color: #fff;
                        }
                    }
                }
                .footer-col{
                    
                    .contact{
                        padding: 220px 0 0 0;
                        display: flex;
                        .contact-right, .contact-left{    
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 30.4px;
                                text-decoration: none;
                            }
                        }
                        .contact-left{
                            margin: 0 128px 20px 0;
                        }
                        .contact-right{
                            margin: 0 0 20px 0;
                            left: 363px;
                        }
                    }
                }
            }
        }
        
    }
}